*{
    padding: 0;
    margin: 0;
}
.top{
	background-color: black;
}
div.top-container{
	margin:0 auto;
    width:1200px;
    height: 80px;
    font-size: 60px;
    display:block;
}
/*icon的样式*/
.top-container div.icon{
	float:left;
	display: block;
	height: 80px;
}
img.icon{
	height:60px;
	padding: 10px;
}
.top-right{
	float: right;
	width: 400px;
}
ul.nav{
	display: block;
	list-style: none;
	float:right;
	height: 40px;
	overflow: hidden;
	position: relative;
}
ul.nav li{
	float: left;
    font-size:15px;
    position:relative;
	display: inline-block;
	padding: 10px;
}
ul.nav li a{
    text-decoration: none;
    color: white;
    text-align:center;
}


/*搜索框*/
.top_form{
    float: right;
    display: block;
	position:relative;
}
input.search-keyword{
/*	float: right;*/
	background-color: rgba(255,255,255,0.5);
    width: 255px;
    height: 33px;
    margin: auto ;
    border-radius: 20px;
    border: none;
    display: block;
    padding: 0 40px 0 20px;
    line-height: 20px ;
    font-size: 20px;
}
.search-submit{
    width:25px;
    height:27px;
    position:absolute;
    background: url(../images/search.png);
    display:block;
    right: 13px;
    top: 3px;
    z-index: 1px;
}

/*导航栏*/




